.savings-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
    max-width:960px;
}

.savings-container h2 {
    color: #333;
    margin: 10px;
}

.video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; 
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.savings-container p {
    color: #777;
    line-height: 1.5;
}

@media screen and (max-width: 600px) {
    .savings-container {
    margin: 10px;
    }
}
  