.App {
  text-align: center;
}

.App-header {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 20px;
  margin-top: 40px;
}

.App-header h1 {
  font-size: 35px;
}

body {
  background-image: linear-gradient(to bottom, #051937, #062344, #052e50, #03395d, #00456a);
  overflow: auto;
  background-repeat: no-repeat;
}


span {
  color: white;
  font-weight: lighter;
}

p{
  color: white;
}
.App-content {
  min-height: 200vh;
  text-transform: uppercase;
}

.budget-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
}

button {
  background-color: #aed033;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: red;
}

.budget-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
}

.delete-button {
  background-color: #cc4d30;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.budget-item span {
  font-weight: bold;
  margin-right: 10px;
}


.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.no-items-message,
.add-item-message {
  color: White;
  margin: 5px 0;
}


/* Mobile Responsiveness */

/* iPhone SE (1st and 2nd generation) and iPhone 5/5s */
@media screen and (max-width: 523px) {
  .App-header h1 {
    font-size: 25px;
  }

  .App-header h1 {
    font-size: 23px;
  }
  button {
    margin-top: 15px;
  }
  .delete-button {
    margin:auto;
    scale: 0.9;
  }
}


@media screen and (max-width: 432px) {
  .App-header h1 {
    font-size: 23px;
  }
  button {
    margin-top: 15px;
  }
  .delete-button {
    margin:auto;
    scale: 0.9;
  }

}


@media screen and (max-width: 373px) and (max-width:431px ){
  .App-header h1 {
    font-size: 22px;
  }
  button {
    margin-top: 15px;
  }

  input {
    display: block;
    margin-top: 10px;
  }


  .delete-button {
    margin:auto;
    scale: 0.9;
  }

}
