/* Importing Font */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
}

* {
  font-family: montserrat;
}

.App-header {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-radius: 20px;
  margin-top: 40px;
}

nav {
  background-color: #1C819E;
  width: 100%;
  height: 100%;
  position: relative;
  top: -40px;
}


ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

ul a {
  text-decoration: none;
  color: white;
}


ul a:hover {
color: #009EAB;
}


header .hompage_logo a {
  display: inline-block;
  height: 55px;
  font-size: 38px;
  font-weight:bold;
}

#appversion {
  text-transform: lowercase;
}

.App-header h1 {
  font-size: 35px;
}

body {
  /* background-image: linear-gradient(to right bottom, #051937, #122040, #1d2648, #282d51, #33345a); */
  background-image: linear-gradient(to bottom, #051937, #083052, #0a4a6c, #0f6586, #1c819e);
  height:100vh;
  padding: 0;
  margin: 0 auto;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}


span {
  color: white;
  font-weight: lighter;
}

p{
  color: white;
}
.App-content {
  min-height: 200vh;
  text-transform: uppercase;
}

.budget-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  background-color:transparent transparent;
}

button {
  background-color: #1C819E;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

button:hover {
  background-color: #009EAB;
}

button:active { cursor: progress; }

.budget-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.budget-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
}

div.budget-item:active {
  transition: 0.3s;
}

.delete-button {
  background-color: #cc4d30;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.budget-item span {
  font-weight: bold;
  margin-right: 10px;
}


.no-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.no-items-message,
.add-item-message {
  color: White;
  margin: 5px 0;
}


/* Mobile Responsiveness */

/* iPhone SE (1st and 2nd generation) and iPhone 5/5s */
@media screen and (max-width: 523px) {
  .App-header h1 {
    font-size: 25px;
  }

  .App-header h1 {
    font-size: 23px;
  }
  button {
    margin-top: 15px;
  }
  .delete-button {
    margin:auto;
    scale: 0.9;
  }
}


@media screen and (max-width: 432px) {
  .App-header h1 {
    font-size: 23px;
  }
  button {
    margin-top: 15px;
  }
  .delete-button {
    margin:auto;
    scale: 0.9;
  }

}


@media screen and (max-width: 373px) and (max-width:431px ){
  .App-header h1 {
    font-size: 22px;
  }
  button {
    margin-top: 15px;
  }

  input {
    display: block;
    margin-top: 10px;
  }


  .delete-button {
    margin:auto;
    scale: 0.9;
  }

}
